{% extends 'layout.html' %}

{% block body %}

  {% set count = namespace(value=0) %}
  {% set color1_str = "" %}

<div class="container">
  <div id="wrapper">
    {% for squ in range(x) %}
      <div class="board_x">
        {% if y % 2 == 0 %}
          {% set count.value = count.value + 1 %}
        {% endif %}
        {% for col in range((y)) %}
          {% set count.value = count.value + 1 %}
          {% if count.value % 2 == 0 %}
            <div class="even">
            </div>
          {% else %}
            <div class="odd">
            </div>
          {% endif %}
        {% endfor %}
      </div>

    {% endfor %}
  </div>
</div>

{% endblock %}